*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.laptop {
    background-color: aqua;
    width: 30%;
    padding: 20px;
    border-radius: 8px;
    margin: 10px;
}

.car {
    background-color: rgb(97, 133, 160);
    width: 30%;
    padding: 20px;
    border-radius: 8px;
    margin: 10px;
}

.auto {
    color: aqua;
}
.nout {
    font-size: 20px;
    color: aqua;
}
.cena {
    font-size: 26px;
    color: aqua;
}

