* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 60px;
    background-color: gray;
    position: fixed;
}

.nav-link {
    font-size: 24PX;
    text-decoration: none;
}

section {
    height: 100vh;
}

.item-1 {
    background-color: rgb(19, 226, 226);
}

.item-2 {
    background-color: rgb(23, 230, 16);
}

.item-3 {
    background-color: rgb(38, 0, 255);
}

.item-4 {
    background-color: rgb(255, 0, 204);
}
