h1 {
    color: green;
    text-align: center;
}

p {
    color: red;
    font-size: 24px;
    text-align: center;
}

img {
    width: 500px;
    display: block;
    margin: auto;
}

article {
    background-color: rgb(81, 81, 146);
    width: 85%;
    margin: auto;
    padding: 30px;
}