*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cards_container{
    width: 900px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

.cardElem{
    border: 2px dashed burlywood;
    border-radius: 15px;
    padding: 15px;
}